@import 'tailwindcss';

:root {
  /* COLOR VARIABLES */
  --beige: #e7daac;
  --black: #080808;
  --blue: #3a4b6c;
  --orange: #be5e00;
  --blue-opacity: #3a4b6c87;
  --grey: #90938c;

  /* FONT VARIABLES */
  --font-times: 'Times New Roman', Times, serif, sans-serif;
  font-family: var(--brygada);
}

/* BUTTONS */
.button-default {
  padding: 5px;
  font-family: var(--brygada);
  border-radius: 6px;
}

.button-control {
  box-shadow: 0px 4px 8px 3px rgba(0,0,0,.15), 0px 1px 3px rgba(0,0,0,.30);
  -webkit-box-shadow: 0px 4px 8px 3px rgba(0,0,0,.15), 0px 1px 3px rgba(0,0,0,.30);
  -moz-box-shadow: 0px 4px 8px 3px rgba(0,0,0,.15), 0px 1px 3px rgba(0,0,0,.30);
  width: 64px;
  height: 32px;
}

.shadow {
  box-shadow: 0px 4px 8px 3px rgba(0,0,0,.15), 0px 1px 3px rgba(0,0,0,.30);
  -webkit-box-shadow: 0px 4px 8px 3px rgba(0,0,0,.15), 0px 1px 3px rgba(0,0,0,.30);
  -moz-box-shadow: 0px 4px 8px 3px rgba(0,0,0,.15), 0px 1px 3px rgba(0,0,0,.30);
}

.shadow-dis {
  box-shadow: 0px 1px 2px rgba(0,0,0,.30), 0px 2px 6px 2px rgba(0,0,0,.15);
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.30), 0px 2px 6px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.30), 0px 2px 6px 2px rgba(0,0,0,.15);
}

.content {
  background-color: var(--black);
}

.todo {
  background-color: var(--beige);
}

.digits {
  /* background-color: var(--beige); */
  font-family: var(--seven-segments);
}

.text-secondary {
  font-family: var(--brygada);
  color: var(--blue);
}

.add-task {
  font-family: var(--brygada);
  color: var(--black);
  text-decoration: underline;
}

/* Modal */
.modal-background {
  position: fixed;
  inset: 0;
  background-color: var(--blue-opacity);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 292px;
  height: auto;
  background-color: var(--beige);
  border-radius: 10px;
  padding: 16px;
}

/* INPUT */
.input-default {
  font-family: var(--brygada);
  color: var(--black);
  border-bottom: var(--blue) 1px solid;
}

.input-default:focus {
  outline: none;
}
