@import "tailwindcss";

:root {
  /* COLOR VARIABLES */
  --beige: #E7DAAC;
  --black: #080808;
  --blue: #3A4B6C;
  --orange: #BE5E00;

  /* FONT VARIABLES */
  --font-times: 'Times New Roman', Times, serif, sans-serif;
}
